body {
  min-height: 100vw;
  background: linear-gradient(#fff3e5, #FCDCB6); }

#bannerHallowgrove {
  display: block;
  min-height: 400px;
  height: 100vh;
  background-size: cover;
  background-image: url("../media/Portada.png");
  margin-bottom: 20px; }

#bannerHallowgrove img {
  height: 100%;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px); }

#bannerHallowgrove h1 {
  border: 0;
  font-size: 5rem; }

#bannerHallowgrove p {
  font-weight: 700;
  font-size: 1.5rem; }

@media only screen and (max-width: 800px) {
  #bannerHallowgrove h1 {
    font-size: 3rem;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto; }
  #bannerHallowgrove p {
    font-size: 1rem; } }

#intro {
  margin-bottom: 20px; }

#introHallowgrove {
  background-color: #fff3e5;
  padding: 20px; }

#faqHallowgrove {
  padding: 10px; }

#disclaimerHallowgrove {
  background-color: #470101;
  padding: 20px; }

#info p {
  color: #3d0606;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 15px;
  width: 70vw;
  margin: 20px auto 10px auto; }

.introProyecto {
  width: 300px !important;
  color: #aa511d;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 500;
  text-align: center;
  background-color: #FCDCB6;
  margin: 10px auto 10px auto;
  padding: 5px;
  border: 2px solid #aa511d; }

#portada {
  height: 100vh;
  display: block; }

.portadaImg {
  height: auto;
  width: 100%; }

#npcs table {
  color: #3d0606;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  background-color: #FCDCB6;
  margin: 10px auto 10px auto;
  width: 80vw; }
  #npcs table td {
    padding: 5px; }
  #npcs table b {
    color: #3d0606;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 700;
    display: block;
    border: 2px solid #aa511d; }
  #npcs table ul {
    color: #aa511d;
    text-align: left;
    list-style-type: circle; }
  #npcs table ol {
    color: #a00c0c;
    text-align: left;
    list-style-type: decimal-leading-zero; }

.tablaTitulo {
  background-color: #fff; }

#menu a {
  color: #aa511d !important;
  font-size: 15px;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 500; }

.mundoImagen {
  display: block;
  width: 80vw;
  margin: 20px auto 20px auto; }

#join label {
  color: #3d0606;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 500; }

.loremIpsum {
  width: 80vw;
  margin: 5px auto 10px auto; }

.npcs__grid {
  display: grid;
  width: 80vw;
  height: auto;
  grid-template-areas: "img" "info" "texto";
  margin: 20px auto 20px auto;
  color: #3d0606;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 15px;
  line-height: 20px;
  justify-content: center; }

.npcs__imagen {
  grid-area: img;
  max-width: 80vw;
  max-height: 500px;
  display: block;
  overflow: hidden;
  margin: 0 auto 0 auto;
  border: 2px solid #3d0606;
  background: linear-gradient(#aa511d, #FCDCB6); }

.npcs__info {
  grid-area: info;
  background-color: #3d0606;
  padding: 10px 20px 10px 20px;
  color: white; }
  .npcs__info strong {
    font-family: Georgia, serif;
    font-weight: 700;
    color: #FCDCB6;
    font-size: 1.5rem; }

.npcs__texto {
  grid-area: texto;
  padding: 15px;
  background-color: #fff3e5;
  color: #aa511d; }

@media only screen and (min-width: 1100px) {
  .npcs__grid {
    display: grid;
    width: 80vw;
    grid-template-areas: "img info info" "img texto texto" "img texto texto";
    grid-template-rows: auto 1fr 2fr; }
  .npcs__imagen img {
    height: 100%; } }

.inventarioSavant {
  min-height: 280px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
  margin: 20px; }

.inventarioSavant li {
  list-style-type: none;
  width: 80px;
  height: auto;
  background-color: white;
  font-size: 13px;
  text-align: center;
  padding: 20px 10px 20px 10px;
  border: 1px solid #aa511d;
  font-weight: 500;
  transition: font-size 2s, background-color 2s, color 2s; }

.inventarioSavant li:hover {
  font-size: 1em;
  background-color: #fff3e5;
  color: #3d0606; }

#unete__juego {
  width: 300px;
  padding: 1em;
  margin: 20px;
  border: 1px solid #aa511d !important; }

#unete__faq {
  padding: 1em; }

#unete textarea {
  max-width: 300px;
  height: 150px;
  display: block;
  margin-top: 20px; }

#unete__juego .unete__formato {
  display: block;
  margin: 3px;
  max-width: 300px; }

#unete__juego .unete__preferencia {
  display: inline; }

.navbar-brand {
  font-weight: 700 !important; }

.columna-1 {
  width: 8vw;
  background-color: #fff3e5;
  display: inline-block;
  justify-content: center; }
  .columna-1 p {
    display: inline-block;
    padding: 10px;
    width: 8vw !important; }

.columna-2 {
  width: 16vw;
  background-color: #fff3e5;
  display: inline-block;
  justify-content: center; }
  .columna-2 p {
    display: inline-block;
    padding: 10px;
    width: 16vw !important; }

.columna-3 {
  width: 24vw;
  background-color: #fff3e5;
  display: inline-block;
  justify-content: center; }
  .columna-3 p {
    display: inline-block;
    padding: 10px;
    width: 24vw !important; }

.columna-4 {
  width: 32vw;
  background-color: #fff3e5;
  display: inline-block;
  justify-content: center; }
  .columna-4 p {
    display: inline-block;
    padding: 10px;
    width: 32vw !important; }

.columna-5 {
  width: 40vw;
  background-color: #fff3e5;
  display: inline-block;
  justify-content: center; }
  .columna-5 p {
    display: inline-block;
    padding: 10px;
    width: 40vw !important; }

.columna-6 {
  width: 48vw;
  background-color: #fff3e5;
  display: inline-block;
  justify-content: center; }
  .columna-6 p {
    display: inline-block;
    padding: 10px;
    width: 48vw !important; }

.columna-7 {
  width: 56vw;
  background-color: #fff3e5;
  display: inline-block;
  justify-content: center; }
  .columna-7 p {
    display: inline-block;
    padding: 10px;
    width: 56vw !important; }

.columna-8 {
  width: 64vw;
  background-color: #fff3e5;
  display: inline-block;
  justify-content: center; }
  .columna-8 p {
    display: inline-block;
    padding: 10px;
    width: 64vw !important; }

.columna-9 {
  width: 72vw;
  background-color: #fff3e5;
  display: inline-block;
  justify-content: center; }
  .columna-9 p {
    display: inline-block;
    padding: 10px;
    width: 72vw !important; }

.columna-10 {
  width: 80vw;
  background-color: #fff3e5;
  display: inline-block;
  justify-content: center; }
  .columna-10 p {
    display: inline-block;
    padding: 10px;
    width: 80vw !important; }

.ciudad-Granjas {
  background-image: url("../media/Granjas.png");
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%; }

.ciudad-Residencias {
  background-image: url("../media/Residencias.png");
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%; }

.ciudad-Fabricas {
  background-image: url("../media/Fabricas.png");
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%; }

.ciudad-Minas {
  background-image: url("../media/Minas.png");
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%; }

.ciudad-Naturaleza {
  background-image: url("../media/Naturaleza.png");
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%; }

.towns {
  max-width: 80vw;
  margin: 20px auto;
  display: flex; }

.townInfo {
  background-color: #3d0606;
  padding: 10px 20px 10px 20px;
  color: white !important; }
  .townInfo strong {
    font-family: Georgia, serif;
    font-weight: 700;
    color: #FCDCB6;
    font-size: 1.5rem; }

.Alquimico {
  background-image: url("../media/Alquimico.png");
  background-size: cover;
  display: block;
  width: 400px;
  height: 500px; }

.HumanoAugmentado {
  background-image: url("../media/HumanoAugmentado.png");
  background-size: cover;
  display: block;
  width: 400px;
  height: 500px; }

.Cambion {
  background-image: url("../media/Cambion.png");
  background-size: cover;
  display: block;
  width: 400px;
  height: 500px; }

.HibridoElemental {
  background-image: url("../media/HibridoElemental.png");
  background-size: cover;
  display: block;
  width: 400px;
  height: 500px; }

.DescendienteHada {
  background-image: url("../media/DescendienteHada.png");
  background-size: cover;
  display: block;
  width: 400px;
  height: 500px; }

.GenteAnimal {
  background-image: url("../media/GenteAnimal.png");
  background-size: cover;
  display: block;
  width: 400px;
  height: 500px; }

.GenteFlora {
  background-image: url("../media/GenteFlora.png");
  background-size: cover;
  display: block;
  width: 400px;
  height: 500px; }

.Goblin {
  background-image: url("../media/Goblin.png");
  background-size: cover;
  display: block;
  width: 400px;
  height: 500px; }

.Nefilim {
  background-image: url("../media/Nefilim.png");
  background-size: cover;
  display: block;
  width: 400px;
  height: 500px; }

#razas {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  align-items: stretch; }

.razasInfo {
  width: 380px;
  margin: 25px auto 25px auto; }
  .razasInfo .razasNombre {
    background-color: #3d0606;
    color: #fff3e5;
    font-size: 20px;
    height: 30px;
    padding-left: 10px;
    font-family: Georgia, serif;
    font-weight: bold; }
  .razasInfo .razasTexto {
    background-color: #FCDCB6;
    padding: 10px; }

h1 {
  color: #aa511d;
  border-bottom: 3px solid #FCDCB6;
  padding-left: 20px;
  font-family: Georgia, serif; }

h2 {
  font-size: 25px;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 500; }
