h1 {
	color: $mid-brown;
	border-bottom: 3px solid $light-brown;
	padding-left: 20px;
	font-family: Georgia, serif;
}

h2 {
	font-size: 25px;
	font-family: 'Hind Siliguri', sans-serif;
	font-weight: 500;
}